:root {

  // fonts
  --font-main: 'IBM Plex Sans', sans-serif;
  --font-heading: 'Oswald', sans-serif;
  --font-code: 'IBM Plex Mono', monospace;

  // sizes
  --base-width: 40rem;
  --base-padding: calc(1rem + 5vw);
  --base-font-regular: calc(16px + .5vw);
  --border-radius: .45rem;

  //colors
  --color-background-default: rgba(255, 255, 255, 1);
  --color-font-default: rgba(0, 0, 0, 0.95);
  --color-font-light: rgba(255, 255, 255, 0.95);
  --color-primary: rgba(23, 93, 117, 1);
  --color-secondary: rgba(188, 68, 48, 1);
  --color-accent1: rgba(27, 91, 117, 1);
  --color-accent2: rgba(45, 87, 14, 1);
  --color--alert: rgba(171, 1, 1, 1);
  --color-neutral-ultralight: rgba(242, 242, 242, .90);
  --color-neutral-light: rgba(190, 190, 190, 1);
  --color-neutral-mid: rgba(112, 112, 112, 1);
  --color-neutral-dark: rgba(60, 60, 60, 1);
  --color-shadow: rgba(0, 0, 0, 0.50);
  --color-brand-gitlab: rgba(252, 109, 38, 1);
  --color-brand-pixabay: rgba(72, 169, 71, 1);
  --color-brand-twitter: rgba(29, 161, 242, 1);
  --color-brand-linkedin: rgba(0, 151, 211, 1);

  // shapes
  --shape-right-arrow: polygon(0 0, 0% 100%, 75% 50%);

}

//sass variables
$screen-xs: 480px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1024px;
$screen-xl: 1280px;