// ## Import fonts##

@import'fonts';
@import'variables';
@import'mixins';

html {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: var(--base-font-regular);
  line-height: calc(var(--base-font-regular) * 1.5);
  color: var(--color-font-default);
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: var(--color-background-default);
}

*,
*::before,
*::after {
  max-width: 100%;
  position: relative;
  box-sizing: inherit;
}



body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-bottom: .5rem;
  line-height: 1.25em;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin: 3.25rem 0 2.25rem;
}

h2 {
  font-weight: 400;
  font-size: 1.75rem;
}


h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

h5 {
  font-weight: 300;
  font-size: 1.25rem;
}

h6 {
  font-weight: 300;
  font-size: 1rem;
}

p {
  margin-top: 0;
}

pre {
  margin: 0;
}

hr {
  border: 0;
  height: .125rem;
  background: var(--color-secondary);
}


code {
  font-family: var(--font-code);
  font-style: italic;
  color: var(--color-accent1);


}

video,
audio,
object {
  display: block;
  width: 100%;
}


dt {
  font-weight: 400;
}

dd {
  font-style: italic;
}

mark {
  background: yellow;
}

a {
  color: var(--color-primary);
  transition: all .5s ease;
  text-decoration: underline;
  text-decoration-color: var(--color-accent1);
  text-decoration-thickness: .1rem;
  text-underline-offset: 1.5px;
  height: 2.25rem;

  &:hover {
    color: var(--color-secondary);
    text-decoration-color: var(--color-secondary);
  }
}

a[href^="http://"],
a[href^="https://"],
a[href^="mailto:"],
a[href$=".pdf"],
a[href$=".zip"] {
  &::after {
    width: 1em;
    height: 1em;
    margin: 0 0 0 .35rem;
    top: .1em;
    background-repeat: no-repeat;
    background-position: bottom;
    content: '';
    display: inline-block;
  }
}

a[href^="http://"],
a[href^="https://"] {
  &::after {
    background-image: url(./icon-external.svg);
    background-size: .75rem;
    margin: 0 0 0 .15rem;

  }
}

a[href^="mailto:"] {
  &::after {
    background-image: url(./icon-email.svg);
  }
}

a[href$=".pdf"] {
  &::after {
    background-image: url(./icon-pdf.svg);
    background-size: 1.5em;
    width: 1.5em;
  }
}

a[href$=".zip"] {
  &::after {
    background-image: url(./icon-zip.svg);
    background-size: 1.5em;
    width: 1.5em;
  }
}


abbr {
  text-decoration: underline dotted;
  text-decoration-thickness: .1rem;
  text-underline-offset: 1.5px;
  cursor: help;
}

dfn {
  font-style: oblique;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

del {
  color: var(--color--alert);
}

ins {
  color: darkgreen;
  text-decoration: underline double;
}

s,
strike {
  font-style: oblique;
}

small {
  font-size: .80em;
}

sub {
  vertical-align: sub;
  font-size: .70em;
}

sup {
  vertical-align: sup;
  font-size: .70em;
}

kbd {
  background: var(--color-neutral-mid);
  color: var(--color-font-light);
  font-family: var(--font-code);
  border: 0;
  padding: .15em .5em;
  border-radius: var(--border-radius);
  box-shadow: 0 .1em .2em var(--color-shadow);
  text-shadow: 0 .05em .1em var(--color-shadow);
}

samp {
  font-family: var(--font-code);
  color: var(--color-accent2);
}

aside {

  background: var(--color-accent2);
  color: var(--color-font-light);
  padding: 1rem .75rem 1.15rem;
  margin: 1.15rem 0 1.5rem;
  float: right;
  border-radius: var(--border-radius);

  *:first-child {
    border-top: .1vw solid var(--color-font-light);
    padding-top: .65rem;
  }

  *:last-child {
    border-bottom: .1vw solid var(--color-font-light);
    padding-bottom: .65rem;
  }

  @include responsive($screen-md) {
    width: 40%;
    margin: 1rem 0 1rem 1.15rem;
  }
}

blockquote {
  font-weight: 500;
  color: var(--color-secondary);
  background-image: url(./icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: 0 .25em;
  background-size: 2rem 2rem;
  margin: 0;

  p {
    margin-left: 2.5rem;
  }

  footer {
    text-align: right;
  }
}

cite {
  font-style: oblique;
  font-size: .9em;
}

time {
  font-style: oblique;
}

var {
  color: var(--color-accent2);
  font-style: oblique;
}

figure {
  margin: 0em;
  border: 1px solid var(--color-neutral-light);
  background: inherit;
}

figcaption {
  font-size: .9em;
  padding: 0 1em .5em;
}

iframe {
  margin: 0 auto;
  display: block;
}


//this is pretty useless
svg {
  transition: all .5s ease;

  &:hover {
    fill: var(--color-secondary);
  }

}

details {
  font-style: oblique;

}

details summary {
  font-weight: bolder;
  font-style: normal;
  cursor: pointer;

  &::marker {
    color: var(--color-accent2);
  }
}

address {
  font-size: var(--font-main);
  font-size: .87em;
  font-style: normal;
}

//tables

//Note this class here. For the table to scroll x on a narrow screen
//the table has to be wrapped in something

.table {
  overflow-x: auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid var(--color-primary);

  * {
    position: static;
  }
}



caption {
  caption-side: bottom;
  font-size: 80%;
  text-align: left;
  line-height: 1.25em;
  padding-top: .75em;
}

thead {
  background-color: var(--color-primary);
  color: var(--color-font-light);
}

td,
th {
  padding: .5em 1em;
  text-align: center;
}

th[scope=row] {
  font-weight: 500;
  text-align: left;
}

tr {
  &:nth-child(even) {
    background: var(--color-neutral-ultralight);
  }
}

// Form elements


fieldset {
  border: 1px solid var(--color-secondary);
  margin: 0 0 1em 0;
}

legend {
  font-weight: 500;
}

input,
select {
  font-size: 1rem;

  &:focus,
  &:hover {
    background-color: var(--color-neutral-ultralight);
  }

}

*:required:focus {
  border: 2px solid red;
  outline: none;
}


select {
  appearance: none;
  display: block;
  width: 100%;
  background-image: url(./arow-down.svg);
  background-repeat: no-repeat;
  background-position: right .75em top 50%;
  background-size: .75em auto;
  cursor: pointer;
}

/* Hide arrow icon in IE browsers */
select::-ms-expand {
  display: none;
}


label {
  font-size: 1rem;
}

select,
input:not([type='checkbox'],
  [type='button'],
  [type='color'],
  [type="file"],
  [type="image"],
  [type="radio"],
  [type="range"],
  [type="submit"]) {
  padding: .5em 2em;
  border: 1px solid var(--color-neutral-mid);
  border-radius: var(--border-radius);
  width: 100%;
}




//NOTE the class here. It's required to customize checkboxes
.radio,
.checkbox {
  display: inline-flex;
  align-items: center;
  padding-right: .33em;


  >input {
    height: 1.5em;
    width: 1.5em;
    appearance: none;
    border: 1px solid var(--color-neutral-mid);
    border-radius: var(--border-radius);
    outline: none;
    transition: all .5s ease;
    cursor: pointer;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: .33em;
  }

  >input:checked {
    background-color: #34495E;
    background-image: url(./select-check-white.svg);

  }
}


.radio {
  display: flex;

  >input {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;

  }

  >input:checked {
    background: url(./radio.svg);
    background-color: #34495E;
  }

  margin-bottom: .75em;
}

input[type="file"] {
  font-size: .8em;
  cursor: pointer;

  @include responsive($screen-sm) {
    font-size: inherit;
  }
}

input[type="color"] {
  padding: 0;
  border-radius: 0;
  height: 2rem;
  border: 1px solid black;
  cursor: pointer;
}

input[type="date"] {
  cursor: pointer;

}

input[type="email"] {
  cursor: text;

}

input[type="month"] {
  cursor: text;
}

input[type="week"] {
  cursor: text;
}

input[type="text"] {
  cursor: text;
}

input[type="url"] {
  cursor: text;
}

progress,
meter {
  appearance: none;
}

.range {
  display: inline-flex;
  align-items: center;
}

input[type="range"] {
  margin-right: 1em;
}

textarea {
  display: block;
  width: 100%;
  min-height: 10em;
  padding: .75rem;
  font-size: 1rem;
  font-family: var(--font-main);
}

input[type='button'] {
  background-color: var(--color-primary);
  background-image: url(./gradient.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 3.5rem;

  color: var(--color-font-light);
  box-shadow: 0 .1em .2em var(--color-shadow);
  font-size: 1.2em;
  padding: .5em 2em;
  border-radius: 2em;
  border: 0;
  transition: all .5s ease;
  text-shadow: 0 .075em .15em var(--color-shadow);
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }
}

input[type="submit"] {
  @extend input[type='button'];
  width: 100%;
}

input {
  &:required {
    border: 2px solid var(--color--alert) !important;

  }
}


// style specific sections

header {

  margin: 0;

  h1 {
    max-width: var(--base-width);
    margin: calc(1rem + 1vw) auto calc(1.25rem + 1vw);
    padding: 0 var(--base-padding);
    color: var(--color-primary);
    font-size: 3rem;
  }

  p {
    margin: 0 auto 1rem;
    padding: 0 var(--base-padding);
    max-width: var(--base-width);
  }

  nav {
    margin: 0 auto 1rem;
    padding: 0 var(--base-padding);
    max-width: var(--base-width);

    ul {
      border-left: 10px solid var(--color-primary);
      padding-left: 1.5rem;
      list-style: none;

    }

    li {

      &::before {
        content: " ";
        display: inline-block;
        background: var(--color-primary);
        margin-right: .25rem;
        width: .65rem;
        height: .65rem;
        clip-path: var(--shape-right-arrow);
        transition: all .5s ease;
      }

      &:hover {
        &::before {

          background: var(--color-secondary);
        }
      }
    }

    a {
      text-decoration: none;
      font-family: var(--font-main);
      font-weight: 500;
      color: var(--color-primary);
      transition: all .5s ease;
      display: inline-block;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: .1rem;
      text-underline-offset: 1.5px;
      height: 2.25rem;

      &:hover {
        color: var(--color-secondary);
        text-decoration-color: #EA215A;
      }
    }
  }
}

main {
  margin: 0 auto 2rem;
  padding: 0 var(--base-padding);
  max-width: var(--base-width);
}

footer {
  margin: 2rem auto;
  padding: 0 var(--base-padding);
  max-width: var(--base-width);
  display: flex;
  flex-direction: column;

  address {
    flex-grow: 1;
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {

      a[href^="http://"]::after,
      a[href^="https://"]::after {
        display: none;
      }

      a {
        display: flex;
        margin: 0 .5rem;
        align-items: center;
        width: 3rem;
        height: 3rem;

        svg {
          width: 100%;
          height: auto;
        }

        [class^="icon-social"] {
          fill: var(--color-neutral-mid);
          transition: all .5s ease;
        }

        &:hover {
          [class$="gitlab"] {
            fill: var(--color-brand-gitlab);
          }

          [class$="linkedin"] {
            fill: var(--color-brand-linkedin);
          }

          [class$="twitter"] {
            fill: var(--color-brand-twitter);
          }

          [class$="pixabay"] {
            fill: var(--color-brand-pixabay);
          }

        }
      }


      &:last-child {
        a {
          margin-right: 0;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        a {
          padding: .25rem;
        }
      }
    }

  }

  @include responsive($screen-md) {
    flex-direction: row;

    address {
      text-align: left;
      ;
    }

    ul {
      justify-content: flex-end;
    }

  }
}

a#totop {
  position: fixed;
  bottom: 5vw;
  right: 10vw;
  background-color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  padding: 1rem 1.5rem;
  line-height: 0;
  border-radius: var(--border-radius);
  border: .1rem solid var(--color-secondary);
  font-family: var(--font-heading);
  font-weight: bolder;
  box-shadow: 0 .1em .2em var(--color-shadow);
  color: var(--color-secondary);

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

//keep this a the bottom and disable on production
// @import 'test';